{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Sign In{% endblock title %}
{% block content %}
<div class="container" style="max-width: 400px; margin-top: 50px;">
    <h2 class="mb-4 text-center">Login</h2>
    <form method="post">{% csrf_token %}
        {{ form|crispy }}
        <div class="text-center mb-3">
            <input type="submit" value="login" class="btn btn-outline-primary w-100" style="margin-right: 10px;">
        </div>
        <div>
            <a href="#">Forgot password?</a> | <a href="{% url 'signup' %}">Don't have an account?</a>
        </div>
    </form>
</div>
{% endblock content %}