{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Forgot password{% endblock %}

{% block content %}
<div class="container" style="max-width: 400px;">
    <h2 class="mb-3 text-center">Forgot your password?</h2>
    <p class="text-center" style="color: #707275;">
        Enter your email and we’ll send you a reset link.
    </p>

    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-outline-primary w-100 mt-3">
            Send reset link
        </button>
    </form>
</div>
{% endblock %}