{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Sign Up{% endblock title %}
{% block content %}
<div class="container" style="max-width: 400px;">
    <h2 class="mb-3 text-center">Sign Up</h2>
    <form method="post">{% csrf_token %}
        {{ form|crispy }}
        <div class="text-center mb-3">
            <input type="submit" class="btn btn-outline-primary w-100" value="Sign up">
        </div>
        <p class="">
            Already have an account? <a href="{% url 'login' %}">Sign in</a>
        </p>
    </form>
</div>
{% endblock content %}